beautifulsoup4==4.12.3
click==8.1.8
deep-translator==1.11.4
python-dotenv
Flask==3.0.3
faster-whisper
fpdf2
gTTS==2.5.1
numpy
opencv-python
PyAudio
pygame
pynput
pyperclip
requests==2.32.3
SpeechRecognition
scipy
sounddevice
Werkzeug==3.0.3
google-genai
huggingface-hub==0.36.2
Kivy==2.3.1